/*! Place your custom styles here */
.title{
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;

}
h1 {
  font-weight: bolder;


}
p{
   color: #413838;
  font-size: 1.5em;
}


.box{
  width: 100px;
  height:100px;

}
.box1{
  background: grey;
}

h2{
  color: #fff;
  font-weight: bold;
}

ul#menu li {
  display: inline;
list-style-type: none;
}

.main-image{
  width: 80%;
}

.brand{
  background: rgba(255, 255, 255, 0.9);
  border-color: #413838;
}
.lead1{
  font-size: 1.35714286em;
  line-height: 1.68421053em;
}
.lead1 > img{
  margin-right: 20px;
}
.btn1{
  color:#000;
background: rgba(255, 255, 255, 0.9);
}
.btn1:hover{
  background: #232d2d;
  color:#fff;
}

.useimage1{
  padding-bottom:30px;
   padding-right:50px;
}

.useimage2{
  padding-bottom:30px;
   padding-left:50px;
}

@media all and (max-width: 767px) {

  .useimage1{
    padding-bottom:20px;
     padding-right:5px;;
  }

  .useimage2{
    padding-bottom:0px;
     padding-left: 15px;
  }
}
