/*! Place your custom styles here */
.title{
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;

}
h1 {
  font-weight: bolder;


}
p{
   color: #413838;
  font-size: 1.5em;
}

.btn1{
  background: rgba(255, 255, 255, 0.9);
}

.box{
  width: 100px;
  height:100px;

}
.box1{
  background: grey;
}

h2{
  color: #fff;
  font-weight: bold;
}

ul#menu li {
  display: inline;
list-style-type: none;
}
